{% extends 'base.html.twig' %}

{% block title %} Gerer les lieux &middot; {{ parent() }} {% endblock %}

{% block main %}
    <h1>Gérer les lieux</h1>
    <hr>


<h4 class="soustitre">Filtrer les lieux</h4>
    {{ form_start(form) }}

    {{ form_widget(form) }} &nbsp;
    <div class="input-group-append">
    <button type="submit" class="bouton">Rechercher</button>
    </div>

    {{ form_end(form) }}


<table class="table table-bordered table-hover table-responsive-md">
    <thead>
    <th scope="col">Lieux</th> <th scope="col">Ville</th><th scope="col">Code Postal</th><th scope="col">Actions</th>
    </thead>
        <tbody>
             {% for lieu in list %}
             <tr>
                <th scope="row">
                    {{ lieu.nom }}
                </th>
                <td>
                    {{ lieu.lieuville.nom }}
                </td>
                <td>
                    {{ lieu.lieuville.codepostal }}
                </td>
                <td>
                    <a href="{{ path('lieu_gerer_modifier',{id:lieu.id}) }}"><button type="button" class="bouton"> Modifier</button></a>&nbsp;&nbsp;
                    <a href="{{ path('lieu_gerer_supprimer',{id:lieu.id}) }}"><button type="button" class="bouton"> Supprimer</button></a>
                </td>
             </tr>
        {% endfor %}
  </tbody>
</table>
    <div class="pagination">
        {{ knp_pagination_render(list) }}
    </div>
<a href="{{ path('lieu_gerer_ajout') }}"><button type="button" class="bouton">Ajouter</button> </a>
<br><br><br>

{% endblock %}