{% extends 'base.html.twig' %}

{% block title %}Ajouter Lieu &middot; {{ parent() }}{% endblock %}

{% block main %}
<div>
      <br>
    <h2>Ajouter&nbsp;un&nbsp;lieu</h2>
</div>

                {{ form_start(form) }}
                {{ form_row(form.nom)}}
                {{ form_row(form.rue) }}
                {{ form_row(form.lieu_ville) }}
                <div class="form-row">
                    <div class="form-group col-6">
                    {{ form_row(form.latitude) }}
                </div>
    <div class="form-group col-6">
        {{ form_row(form.longitude) }}
                </div>
                </div>
                <br>
                <button type="submit" class="bouton">Ajouter</button>
                <a href="{{ path('sortie_creer') }}"><button type="button" class="bouton">Annuler</button></a>
                {{ form_end(form) }}


{% endblock %}