{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ context }} &middot; {{ parent() }}{% endblock %}

{% block main %}

    <h1>{{ context }}</h1><hr>


                {{ form_start(form) }}
                {{ form_row(form.nom)}}
                {{ form_row(form.rue) }}
                {{ form_row(form.lieu_ville) }}

                    {{ form_row(form.latitude) }}

        {{ form_row(form.longitude) }}


                <br>
                <button type="submit" class="bouton" div="ok">Valider</button>
                <button type="reset" class="bouton">Annuler</button>
                {{ form_end(form) }}


{% endblock %}