{% extends 'base.html.twig.' %}

{% block title %}Modifier Profil &middot; {{ parent() }}{% endblock %}

{% block main %}
    {% form_theme formulaire with ['bootstrap_4_horizontal_layout.html.twig','form/fieldsprofil.html.twig'] %}
    <h1>Modifier votre profil</h1><hr>
    <div class="container"></div>
        <div class="row mx-md-n3">
            <div class="col-md-2 px-md-3">
                {{ form_start(formulaire) }}
                {% if participant.avatar is empty %}
                    <img class="align-self-start mr-3" id="avatar" src="{{ asset('build/defaultAvatar.png') }}">
                {% else %}
                    <img class="align-self-start mr-3" id="avatar" src="{{ vich_uploader_asset(participant, 'avatarFile') }}">
                {% endif %}
            </div>

        {% if app.user.id == participant.id %}

            <div class="col-md-5 px-md-3">
                {{ form_row(formulaire.username) }}
                {{ form_row(formulaire.prenom) }}
                {{ form_row(formulaire.nom) }}
                {{ form_row(formulaire.telephone) }}
                {{ form_row(formulaire.email) }}
                {{ form_row(formulaire.avatarFile) }}
                {{ form_row(formulaire.site) }}
            </div>
            <div class="col-md-5 px-md-3"> {#col-lg-6 col-md-6 col-sm-12#}
                <div class="alert alert-primary" role="alert">
                    <p class="soustitre">Changer de mot de passe</p>
                    {{ form_row(formulaire.oldPassword) }}
                    {{ form_row(formulaire.password) }}
                </div>



            </div>
        </div>
        <div class="row">
            {#    <div class="col-6">
                    <button class="bouton">{{ button_label|default('Enregistrer') }}</button>
                    {{ form_end(formulaire) }}
                </div>
                <div class="col-6">
                    <a href="{{ path('afficher_profil', { 'id' : app.user.id}) }}"><button class="bouton">Annuler</button></a>
                </div>  #}
            <div class="col-lg-12">
                <button class="bouton">{{ button_label|default('Enregistrer') }}</button>
                {{ form_end(formulaire) }}
                <a href="{{ path('afficher_profil', { 'id' : app.user.id}) }}"><button class="bouton">Annuler</button></a>
            </div>
        </div><br><br>

    {% else %}
        <h1>Vous ne pouvez pas modifier ce profil !</h1><hr>
    {% endif %}






{% endblock %}