{% extends 'base.html.twig' %}

{% block title %}Participants{% endblock %}

{% block main %}
    {% if is_granted('ROLE_ADMIN') %}
    <h1 class="text-primary">Liste des utilisateurs</h1>
    <br><br><br>
    <div id="participant" class="table-responsive-xl">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Pseudo</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Téléphone</th>
                <th scope="col">Email</th>
                <th scope="col">Site de rattachement</th>
                <th scope="col">Rôle du participant</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for participant in participant %}
                <tr>
                    {% if participant.roles == ["ROLE_USER"] %}
                        <td>{{ participant.username }}</td>
                        <td>{{ participant.prenom }}</td>
                        <td>{{ participant.nom }}</td>
                    {% if participant.telephone is null %}
                        <td><i>Pas de numéro de téléphone renseigné.</i></td>
                    {% else %}
                        <td>{{ participant.telephone }}</td>
                    {% endif %}
                        <td>{{ participant.email }}</td>
                        <td>{{ participant.site.nom }}</td>
                        <td>{{ participant.roles | json_encode }}</td>
                    <td>
                        <div class="d-inline-block">
                            {{ include('participant/supprimerUtilisateurs.html.twig') }}
                        </div>
                        {% if participant.actif==1 %}
                        <a href="{{ path('user_modifieractif',{id:participant.id}) }}"><button type="button" class="bouton">Desactiver</button> </a>
                        {% else %}
                        <a href="{{ path('user_modifieractif',{id:participant.id}) }}"><button type="button" class="bouton">Activer</button> </a>
                        {% endif %}
                    </td>
                    {% else %}
                        {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">Aucun utilisateur trouvé.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
        {% else %}
            <h1>Vous n'avez pas les droits nécessaires pour consulter cette page.</h1><hr>
    {% endif %}
{% endblock %}
