{% extends 'base.html.twig' %}

{% form_theme annulerForm 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}  Annuler une sortie &middot; {{parent()}} {% endblock %}

{% block main %}
    {{ form_start(annulerForm) }}

    <h1>Annuler une sortie</h1>
    <hr>
    <div class="annulerSortie">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-md-6">Nom de la sortie :</dt>
                        <dd class="col-md-6">{{ sortie.nom }}</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-md-6">Date de la sortie :</dt>
                        <dd class="col-md-6">{{ sortie.datHeureDebut|date('d/m/Y') }}</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-md-6">Site organisateur :</dt>
                        <dd class="col-md-6">{{ sortie.site.nom  }}</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-md-6">Lieu :</dt>
                        <dd class="col-md-6">{{ sortie.lieu.nom }} {{ rue }} {{ cp }} {{ ville }}</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-md-2">Motif :</dt>
                        <dd class="col-md-10">{{ form_widget(annulerForm) }}</dd>
                    </dl>
                    <div class="row d-flex justify-content-center">
                        <dt class="col-md-6>"><input type="submit" class="bouton" value="Annuler"></dt>
                        {{ form_end(annulerForm) }}
                        <dt class="col-md-6"><a href="{{ path('home') }}"><input type="button" class="bouton" value="Abandonner"></a></dt>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}