{% extends 'base.html.twig' %}

{% form_theme sortieForm 'bootstrap_4_layout.html.twig' %}

{% block title %}  Créer une sortie &middot; {{parent()}} {% endblock %}

{% block main %}

    <h1>Créer une sortie</h1><hr>
    <div class="container">
        <div class="row mx-md-n5">
            <div class="col-md-6 px-md-5">
                <div class="addSortie">
                    {{ form_start(sortieForm) }}
                    {{ form_row(sortieForm.nom) }}
                    {{ form_row(sortieForm.datHeureDebut) }}
                    {{ form_row(sortieForm.dateLimiteInscription) }}
                    {{ form_row(sortieForm.duree) }}
                    {{ form_row(sortieForm.infosSortie) }}

                </div>
            </div>
            <div class="col-md-6 px-md-5">
                <div>
                    {{ form_row(sortieForm.nbInscriptionsMax) }}
                    {{ form_row(sortieForm.lieu) }}


                </div>
                <dl class="row">
                    <dt id="labelville" class="col-md-3"></dt>
                    <dd id="ville" class="col-md-9"></dd>
                </dl>
                <dl class="row">
                    <dt id="labelrue" class="col-md-3"></dt>
                    <dd id="rue" class="col-md-9"></dd>
                </dl>
                <dl class="row">
                    <dt id="labelcp" class="col-md-3"></dt>
                    <dd id="cp" class="col-md-9"></dd>
                </dl>
                <dl class="row">
                    <dt id="labellat" class="col-md-3"></dt>
                    <dd id="lat" class="col-md-9"></dd>
                </dl>
                <dl class="row">
                    <dt id="labellong" class="col-md-3"></dt>
                    <dd id="long" class="col-md-9"></dd>
                </dl>
                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" name="creer" class="bouton mx-2" value="Créer">
                        <input type="submit" name="publier" class="bouton mx-2" value="Publier">

                        {{ form_end(sortieForm) }}
                        <a href="{{ path('home') }}"><input type="submit" name="annuler" class="bouton" value="Annuler"></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>

{% endblock %}