{% extends 'base.html.twig' %}

{% form_theme sortieForm 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}  Créer une sortie &middot {{parent()}} {% endblock %}

{% block main %}
    <h1>Créer une sortie</h1>

    <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">>
        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
        {{ form_errors(sortieForm) }}
        <div>
        {#  <button type="submit" name="submitAction" value="creer"> Enregistrer </button>
            <button type="submit" name="submitAction" value="publier"> Publier </button>
            annuler : lien vers accueil
            todo insérer un pop-up de confirmation d'annulation #}
            <a href="{{ path('home') }}"><button class="button"> Annuler </button></a>
        </div>
        {{ form_end(sortieForm) }}
    </div>
{% endblock %}