{% extends 'base.html.twig' %}

{% block title %}Liste &middot; {{ parent() }}{% endblock %}

{% block main %}
<div class="jumbotron">

    <div align="right">
        Date du jour : {{ "now"|date("d/m/Y") }}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED')  %}
        <br>Participant : {{ app.user.username }}
    {% endif %}
    </div>

        <div>Filtrer les sorties</div>
        {{ form_start(search) }}
        <div class="form-row">
            <div class="form-group col-6">
                       Site : {{ form_widget(search.sites) }}
                       Le nom de la sortie contient : {{ form_widget(search.libelle) }}
                 <div class="form-row">
                     <div class="form-group col-md-4">
                    Entre : {{ form_widget(search.dateDebut) }} </div><div class="form-group col-md-4">et {{ form_widget(search.dateFin)}}
                     </div>
                 </div>
            </div>
            <div class="form-group col-4">
                <div class="form-check">
                    <br>
                     {{ form_widget(search.organisateur) }}
                    <label class="form-check-label" for="defaultCheck1">
                        Sorties dont je suis l'organisateur(trice)
                    </label>
<br>
            {{ form_widget(search.inscrit) }}
                    <label class="form-check-label" for="defaultCheck1">
                        Sortie auxquelles je suis inscrit(e)
                    </label>
                    <br>
            {{ form_widget(search.noinscrit) }}
                    <label class="form-check-label" for="defaultCheck1">
                       Sorties auxquelles je ne suis pas inscrit(e)
                    </label>
                    <br>
            {{ form_widget(search.past) }}
                    <label class="form-check-label" for="defaultCheck1">
                        Sorties passées
                    </label>
                    <br>
                </div>
            </div>
            <br>
            <div class="form-group col-1">
                <button type="submit" value="ok" class="bouton btn-lg">Rechercher</button>
            </div>
        </div>
            {{ form_end(search) }}
        </div>
</div>
    <div class="container-fluid">
    <table>
        <tr>
            {# sorting of properties based on query components #}
            <th>Trier par : {{ knp_pagination_sortable(sorties, 'Date Limite d\'inscription', 's.dateLimiteInscription') }}</th>
            <th{% if sorties.isSorted('s.datHeureDebut') %} class="sorted"{% endif %}>
                &nbsp {{ knp_pagination_sortable(sorties, 'Date de sortie', 's.datHeureDebut') }}
            </th>
            <th{% if sorties.isSorted('o.username') %} class="sorted"{% endif %}>
                &nbsp {{ knp_pagination_sortable(sorties,'Organisateur','o.username') }}
            </th>
        </tr>
    </table>

<div class="count">
    {{ sorties.getTotalItemCount }} Sorties correspondent à votre recherche
</div>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th scope="col">Nom de la sortie</th><th scope="col">Date de la sortie</th><th scope="col">Clôture</th><th scope="col">Inscrits/Places</th><th scope="col">Etat</th><th scope="col">Inscrit</th><th scope="col">Organisteur</th><th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for sortie in sorties %}
            <tr scope="row">


        <td>
            {{ sortie.nom }}
        </td>
        <td>
            {{ sortie.datHeureDebut|date('d/m/Y') }}
        </td>
        <td>
            {{ sortie.dateLimiteInscription|date('d/m/Y') }}
        </td>
        <td>
            {{ sortie.participants|length }}/{{ sortie.nbInscriptionsMax }}
        </td>
        <td>
            {% if sortie.nbInscriptionsMax <= sortie.participants|length %}
                Cloturée
            {% else %}
            {% if sortie.sortieetat.id == 2 %}
                {% if (sortie.datHeureDebut|date('U')+sortie.duree|date('U')) == ("now"|date("U")) %}
                En cours
                {% elseif sortie.datHeureDebut|date('U') < ("now"|date("U")) and sortie.dateLimiteInscription|date('U') < ("now"|date("U"))  %}
                Fermé
                {% else %}
                Ouvert
                {% endif %}
            {% endif %}
            {% if sortie.sortieetat.id == 1 %}
                En création
            {% endif %}
            {% if sortie.sortieetat.id == 3 %}
                Annulée
            {% endif %}
        {% endif %}
            </td>
        <td>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% for sortieuser in app.user.sorties %}
            {% if sortieuser.id==sortie.id %}
                  x
            {% endif %}
            {% endfor %}
            {% endif %}

        </td>
        <td>
            <a href="{{ path('afficher_profil', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.username }}</a>
        </td>
                <td>
            {% if is_granted ('IS_AUTHENTICATED_REMEMBERED') %}
        {% if sortie.organisateur == app.user %}
        <a href="{{ path('sortie_modifier', {id:sortie.id}) }}">Modifier</a>
        {% else %}
                <a href="{{ path('sortie_afficher', {id:sortie.id}) }}"> Afficher </a>
        {% endif %}
                {% set inscrire = 'true' %}
        {% for sortieuser in app.user.sorties %}
        {% if sortieuser.id==sortie.id and sortie.datHeureDebut|date('U') > ("now"|date("U"))  %}
        <br><a href="{{ path('sortie_desinscrire',{'id':sortie.id}) }}">Se&nbspdésister</a>
        {% endif %}
            {% if (sortie.dateLimiteInscription|date('U')) > ("now"|date("U")) and sortie.sortieetat.id == 2%}
                {% if sortie.nbInscriptionsMax > sortie.participants|length %}
        {% if sortieuser.id==sortie.id %}
            {% set inscrire = 'false' %}
            {% endif %}
                    {% endif %}
            {% else %}
            {% set inscrire = 'false' %}
            {% endif %}
            {% endfor %}
                {% if sortie.organisateur==app.user %}
                    {% set inscrire = 'false' %}
                    {% endif %}
                {% if sortie.sortieetat.id !=2 %}
                    {% set inscrire = 'false' %}
                    {% endif %}
                {% if inscrire == 'true' %}
                    <br><a href="{{ path('sortie_inscrire',{'id':sortie.id}) }}">S'inscrire</a>
                {% endif %}
        {% if sortie.organisateur == app.user and sortie.dateLimiteInscription|date('U')> ("now"|date("U"))and sortie.sortieetat.id == 2 %}
        <br><a href="{{ path('sortie_annuler', {'id':sortie.id}) }}">Annuler</a>
        {% endif %}
            {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    <div class="pagination">
        {{ knp_pagination_render(sorties) }}
    </div>
    <br>
    <div>
    <a href="{{ path('sortie_creer') }}"><button type="button" class="bouton">Créer une sortie</button> </a>
    </div>
    <br><br><br>

{% endblock %}
