{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}
        AjoutVille &middot; {{ parent() }}

{% endblock %}

{% block main %}


    <h1>Ajouter une ville</h1>
    <hr>


{{ form_start(form) }}
                {{ form_widget(form) }}

<br>
<button type="submit" class="bouton">Ajouter</button>
<a href="{{ path('home') }}"><button type="button" class="bouton">Annuler</button></a>
{{ form_end(form) }}


{% endblock %}

